[submodule "3rdparty/rapidjson"]
	path = 3rdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rdparty/libzmq"]
	path = 3rdparty/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "3rdparty/cppzmq"]
	path = 3rdparty/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "3rdparty/curlcpp"]
	path = 3rdparty/curlcpp
	url = https://github.com/JosephP91/curlcpp.git
